@model Gpstel.Models.Vehiculo
@{
    ViewBag.Title = "nuevo";
}

<h2>nuevo</h2>

<div class="container">
    @using (Html.BeginForm("guardarEditar", "Vehiculo", FormMethod.Post, new { @class = "from" }))
    {

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Placa</label>
                @Html.TextBoxFor(x => x.placa, new {@class="form-control",@placeholder="Ingrese Placa"})
                
            </div>
            <div class="form-group col-md-6">
                <label >Marca</label>
                @Html.TextBoxFor(x =>x.marca,new { @class="form-control",@placeholder="Ingrese la Marca"})
                
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Modelo</label>
                @Html.TextBoxFor(x => x.modelo, new { @class = "form-control", @placeholder = "Ingrese Modelo" })

            </div>
            <div class="form-group col-md-6">
                <label >Año</label>
                @Html.TextBoxFor(x => x.anio_vehiculo, new { @class = "form-control", @placeholder = "Ingrese el año del vehiculo" })

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Color</label>
                @Html.TextBoxFor(x => x.color, new { @class = "form-control", @placeholder = "Ingrese Color" })

            </div>
            <div class="form-group col-md-6">
                <label>Numero de Motor</label>
                @Html.TextBoxFor(x => x.anio_vehiculo, new { @class = "form-control", @placeholder = "Ingrese el numero de motor" })

            </div>
        </div>
      
        
        <div class="form-row">
           
            <div class="form-group col-md-3">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                    <option selected>Escoge...</option>
                    <option value="0">Inactivo</option>
                    <option value="1">Activo</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Tipo de Vehiculo</label>
                <select id="inputState" class="form-control">
                    <option selected>Escoge...</option>
                    <option value="0">MTC</option>
                    <option value="1">PARTICULAR</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">GPS</label>
                <select id="inputState" class="form-control">
                    <option selected>Escoge...</option>
                    <option>...</option>
                </select>
            </div>
            
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>



    }

</div>

